[Unit]
Description=Portmon Service
#Documentation=man:portmon(1)
After=network.target iptables.service firewalld.service

[Service]
Type=simple
#User=root
ExecStart=/usr/bin/python3 /usr/bin/portmon.py
PIDFile=/var/run/portmon.pid
Restart=always

[Install]
WantedBy=multi-user.target
